@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    display:grid;
    grid-template-columns:1fr 6fr;
    grid-template-rows:1fr 4.5fr;
    /* background-color:skyblue; */
    max-height:100vh;
    /* border:5px solid rgb(224, 24, 107); */

}

.container > * {
    /* border:2px solid blue; */
    padding:10px;
}

aside{
    font-weight: 600;
    grid-row-start:1;
    grid-row-end: 3;
    display:grid;
    grid-template-rows: 50px auto;
    row-gap:50px;
    background-color: #3c2a4d;
    color:whitesmoke;
    padding-top:25px!important
    
    /* display:block; */
}

aside h2{
    text-align: center;
}

aside ul{
    display:grid;
    grid-template-rows: max-content;
    row-gap: 50px;
    font-size:18px;

}

aside li{
    list-style: none;
    padding-left:20px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

aside li:not(:last-child){
    margin-bottom:15px;
}

aside li:hover{
    background-color: #190b2e8e;
    border-radius: 4px;
}

i{
    margin-right:25px;
}

aside > *{
    /* border:2px solid khaki; */
}

main{
    display:grid;
    grid-template-columns:4fr 1fr;
    /* grid-template-columns:repeat(2,minmax(1240px,2fr)); */
     /* grid-template-columns:repeat(minmax(1240px,1fr),auto-fit); */
     /* grid-template-columns:repeat(auto-fit,minmax(600px, 1fr))!important; */
    grid-template-rows:repeat(3,1fr);
    overflow-y: scroll;
    gap:20px;
    background-color: #e2e8f0;
    padding:30px !important;
    
}

.projects{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(380px,1fr));
    /* grid-template-rows:repeat(auto-fit,minmax(200px, 1fr)); */
    /* align-items: center; */
    gap: 20px;
    grid-auto-rows: 230px;
  
    /* height:calc(100vh-calc(header)) */
}

/* .projects > *{
border:2px solid orange;
} */

.announcements{
    display:grid;
    gap:10px;
    grid-auto-rows: auto;
}

.announcements > *{
    /* border:2px solid mediumaquamarine; */
}

/*header*/

header{
    display: grid;
    grid-template-columns:7fr 1.5fr;
    gap:5px;
    background-color: #95adbe;
    color: white;
}

header p, header span{
    font-weight: 500;
}

header >*{
    /* border:2px solid black; */
}

header .search{
    /* border:2px solid white; */
    width:100%;
    font-size: 18px;
    display:flex;
    justify-content: center;
    align-items: center;
   
  
}

header .search i{
    font-size: 25px;
}

header input[type=search]{
    width:90%;
    padding:10px;
    border-radius: 40px;
    border:none;
    background-color: #e2e8f0;;
}


header input[type=search]:focus{
    outline:none;
}

.account{
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

.account>*{
    margin-left:20px;
}

.account .user{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.account .user .avatar{
    margin-right:10px
}

.account i{
    font-size: 25px;

}

.greeting{
    display:grid;
    grid-template-columns: 1fr 15fr;

}

.menu{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:10px;
    align-items: center;
}
.menu button{
    border-radius: 150px;
    padding-right:12px;
    padding-left:12px;
    padding-top: 6px;
    padding-bottom:6px;
    background-color: #503a65;
    border: none;
    color:white;
    /* height: 40px; */
}


/* projects */
.card{
    background-color: white;
    padding:30px;
    box-shadow:
  12.5px 12.5px 10px rgba(0, 0, 0, 0.05),
  100px 100px 80px rgba(0, 0, 0, 0.025)

  ;
  


}

.projects .card{
    border-left: 10px solid #574f7d;
    display:flex;
    flex-direction: column;
}

.projects .action{
    align-self: flex-end;
}

main div > div{
    border-radius: 10px;
    padding:25px
}

/* .card div::before{
    content: 'hello';
    background-color: orange;
    width: 50px;
    } */

    @media(max-width:1600px){
       

        li span, h2 span{
            display: none;
            
        }

        /* aside{
            width:80px;
            overflow: hidden;
        } */
        .container{
            grid-template-columns: 80px auto;
        }

        h2{
            /* text-align: center; */
            padding-left: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
        
        }
     
    }

    @media(max-width:700px){
       
        main{
            grid-template-columns:1fr;
        }
    }