@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    display:grid;
    grid-template-columns:1fr 6fr;
    grid-template-rows:1fr 4.5fr;
    background-color:skyblue;
    height:100vh;
    /* border:5px solid rgb(224, 24, 107); */

}

.container > * {
    /* border:2px solid blue; */
    padding:10px;
}

aside{
    font-weight: 600;
    grid-row-start:1;
    grid-row-end: 3;
    display:grid;
    grid-template-rows: 50px auto;
    row-gap:50px;
    background-color: #3c2a4d;
    color:whitesmoke;
    /* display:block; */
}

aside ul{
    display:grid;
    grid-template-rows: max-content;
    row-gap: 50px;
    font-size:18px;

}

aside li{
    list-style: none;
    /* line-height: 45px; */
    padding-left:20px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

aside li:not(:last-child){
    margin-bottom:15px;
}

aside li:hover{
    background-color: #95adbe;
    border-radius: 4px;
}

i{
    margin-right:10px;
}

aside > *{
    /* border:2px solid khaki; */
}

main{
    display:grid;
    grid-template-columns:5fr 2fr;
    grid-template-rows:repeat(3,1fr);
    overflow-y: scroll;
    gap:20px;
    background-color: #e0f0ea;
}

.projects{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    grid-template-rows:repeat(3,1fr);
    border:4px solid green;
    gap: 10px;
  
    /* height:calc(100vh-calc(header)) */
}

.projects > *{
border:2px solid orange;
}

.announcements{
    display:grid;
    gap:10px;
    border:2px solid gray;
    grid-auto-rows: auto;
}

.announcements > *{
    border:2px solid mediumaquamarine;
}

/*header*/

header{
    display: grid;
    grid-template-columns:7fr 1.5fr;
    gap:5px;
    background-color: #95adbe;
    color: white;

}

header >*{
    /* border:2px solid black; */
}

header .search{
    /* border:2px solid white; */
    width:100%;
    font-size: 18px;
    display:flex;
    justify-content: center;
    align-items: center;
   
  
}

header .search i{
    font-size: 25px;
}

header input[type=search]{
    width:90%;
    padding:10px;
    border-radius: 40px;
    border:none
}

.account{
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

.account>*{
    margin-left:20px;
}

.account .user{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.account .user .avatar{
    margin-right:10px
}

.account i{
    font-size: 25px;

}

.greeting{
    display:grid;
    grid-template-columns: 1fr 15fr;

}

.menu{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:10px;
    align-items: center;
}
.menu button{
    border-radius: 25px;
    padding-right:12px;
    padding-left:12px;
    padding-top: 8px;
    padding-bottom:8px;
    background-color: #503a65;
    border: none;
    color:white;
    height: 40px;
}
